<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buildings</key>
	<dict>
		<key>Description</key>
		<string>Здания</string>
		<key>ElementStructure</key>
		<dict>
			<key>translations</key>
			<dict>
				<key>SubElements</key>
				<dict>
					<key>name</key>
					<dict>
                        <key>OptionPath</key>
                        <string>/translations</string>
						<key>Description</key>
						<string>Имя</string>
						<key>Type</key>
						<string>SelectObject</string>
					</dict>
					<key>description</key>
					<dict>
                        <key>OptionPath</key>
                        <string>/translations</string>
						<key>Description</key>
						<string>Описание</string>
						<key>Type</key>
						<string>SelectObject</string>
					</dict>
				</dict>
				<key>Type</key>
				<string>SubNode</string>
				<key>Description</key>
				<string>Переводы</string>
			</dict>
			<key>price</key>
			<dict>
				<key>SubElements</key>
				<dict>
					<key>diamonds</key>
					<dict>
						<key>Description</key>
						<string>Diamonds</string>
						<key>Type</key>
						<string>Integer</string>
					</dict>
					<key>food</key>
					<dict>
						<key>Description</key>
						<string>Food</string>
						<key>Type</key>
						<string>Integer</string>
					</dict>
					<key>fun</key>
					<dict>
						<key>Description</key>
						<string>Fun</string>
						<key>Type</key>
						<string>Integer</string>
					</dict>
					<key>gold</key>
					<dict>
						<key>Description</key>
						<string>Gold</string>
						<key>Type</key>
						<string>Integer</string>
					</dict>
					<key>science</key>
					<dict>
						<key>Description</key>
						<string>Science</string>
						<key>Type</key>
						<string>Integer</string>
					</dict>
					<key>tech</key>
					<dict>
						<key>Description</key>
						<string>Tech</string>
						<key>Type</key>
						<string>Integer</string>
					</dict>
					<key>tiles</key>
					<dict>
						<key>Description</key>
						<string>Tiles</string>
						<key>Type</key>
						<string>Integer</string>
					</dict>
				</dict>
				<key>Type</key>
				<string>SubNode</string>
				<key>Description</key>
				<string>Цена</string>
			</dict>
			<key>resources</key>
			<dict>
				<key>SubElements</key>
				<dict>
					<key>normal</key>
					<dict>
						<key>Description</key>
						<string>Нормальное состояние</string>
						<key>Type</key>
						<string>String</string>
					</dict>
					<key>rotated</key>
					<dict>
						<key>Description</key>
						<string>Повернутое состояние</string>
						<key>Type</key>
						<string>String</string>
					</dict>
					<key>sounds</key>
					<dict>
						<key>Description</key>
						<string>Звуки</string>
						<key>Type</key>
						<string>String</string>
					</dict>
				</dict>
				<key>Type</key>
				<string>SubNode</string>
				<key>Description</key>
				<string>iOS ресурсы</string>
			</dict>
			<key>add_citizen</key>
			<dict>
				<key>Description</key>
				<string>AddCitizen</string>
				<key>Type</key>
				<string>Integer</string>
			</dict>
            <key>category</key>
            <dict>
                <key>OptionPath</key>
                <string>/categories</string>
                <key>Description</key>
                <string>Категория</string>
                <key>Type</key>
                <string>SelectObject</string>
            </dict>

			<key>complete_dmnds</key>
			<dict>
				<key>Description</key>
				<string>CompleteDmnds</string>
				<key>Type</key>
				<string>Integer</string>
			</dict>
			<key>decor_bonus</key>
			<dict>
				<key>Description</key>
				<string>Бонус за декор</string>
				<key>Type</key>
				<string>Integer</string>
			</dict>
			<key>height</key>
			<dict>
				<key>Description</key>
				<string>Высота</string>
				<key>Type</key>
				<string>Integer</string>
			</dict>
			<key>gain_exp</key>
			<dict>
				<key>Description</key>
				<string>Опыт</string>
				<key>Type</key>
				<string>Integer</string>
			</dict>
			<key>gain_rating</key>
			<dict>
				<key>Description</key>
				<string>Рейтинг</string>
				<key>Type</key>
				<string>Integer</string>
			</dict>
			<key>range</key>
			<dict>
				<key>Description</key>
				<string>Range</string>
				<key>Type</key>
				<string>Integer</string>
			</dict>
			<key>req_citiz</key>
			<dict>
				<key>Description</key>
				<string>ReqCitiz</string>
				<key>Type</key>
				<string>Integer</string>
			</dict>
			<key>req_user_level</key>
			<dict>
				<key>Description</key>
				<string>Требуемый уровень пользователя</string>
				<key>Type</key>
				<string>Integer</string>
			</dict>
			<key>size_x</key>
			<dict>
				<key>Description</key>
				<string>Размер Y</string>
				<key>Type</key>
				<string>Integer</string>
			</dict>
			<key>time_to_build</key>
			<dict>
				<key>Description</key>
				<string>Время постройки</string>
				<key>Type</key>
				<string>Integer</string>
			</dict>
			<key>width</key>
			<dict>
				<key>Type</key>
				<string>Integer</string>
				<key>Description</key>
				<string>Ширина</string>
			</dict>
			<key>is_decor</key>
			<dict>
				<key>Description</key>
				<string>Декор?</string>
				<key>Type</key>
				<string>Boolean</string>
			</dict>
		</dict>
		<key>Type</key>
		<string>StructuredDictionary</string>
	</dict>
	<key>categories</key>
	<dict>
		<key>Description</key>
		<string>Категории зданий</string>
		<key>ElementStructure</key>
		<dict>
			<key>buildings</key>
			<dict>
				<key>ElementScheme</key>
				<dict>
					<key>Type</key>
					<string>String</string>
				</dict>
				<key>Description</key>
				<string>Buildings</string>
				<key>Type</key>
				<string>Array</string>
			</dict>
		</dict>
		<key>Type</key>
		<string>StructuredDictionary</string>
	</dict>
	<key>translations</key>
	<dict>
		<key>Description</key>
		<string>Переводы строк</string>
		<key>ElementStructure</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>Description</key>
				<string>Русский</string>
				<key>Type</key>
				<string>String</string>
			</dict>
			<key>en</key>
			<dict>
				<key>Description</key>
				<string>English</string>
				<key>Type</key>
				<string>String</string>
			</dict>
			<key>de</key>
			<dict>
				<key>Description</key>
				<string>Deutch</string>
				<key>Type</key>
				<string>String</string>
			</dict>
			<key>es</key>
			<dict>
				<key>Description</key>
				<string>Espanol</string>
				<key>Type</key>
				<string>String</string>
			</dict>
			<key>ch</key>
			<dict>
				<key>Description</key>
				<string>Китайский</string>
				<key>Type</key>
				<string>String</string>
			</dict>
		</dict>
		<key>Type</key>
		<string>StructuredDictionary</string>
	</dict>
	<key>processes</key>
	<dict>
		<key>ElementStructure</key>
		<dict>
			<key>proc_icon</key>
			<dict>
				<key>Description</key>
				<string>Иконка</string>
				<key>Type</key>
				<string>String</string>
			</dict>
			<key>time</key>
			<dict>
				<key>Description</key>
				<string>Время</string>
				<key>Type</key>
				<string>Integer</string>
			</dict>
			<key>exp</key>
			<dict>
				<key>Description</key>
				<string>Опыт</string>
				<key>Type</key>
				<string>Integer</string>
			</dict>
			<key>sell_food</key>
			<dict>
				<key>Description</key>
				<string>SellFood</string>
				<key>Type</key>
				<string>Integer</string>
			</dict>
			<key>translations</key>
			<dict>
				<key>SubElements</key>
				<dict>
					<key>name</key>
					<dict>
                        <key>OptionPath</key>
                        <string>/translations</string>
						<key>Description</key>
						<string>Имя</string>
						<key>Type</key>
						<string>SelectObject</string>
					</dict>
					<key>description</key>
					<dict>
                        <key>OptionPath</key>
                        <string>/translations</string>
						<key>Description</key>
						<string>Описание</string>
						<key>Type</key>
						<string>SelectObject</string>
					</dict>
				</dict>
				<key>Type</key>
				<string>SubNode</string>
				<key>Description</key>
				<string>Переводы</string>
			</dict>
			<key>buy</key>
			<dict>
				<key>Description</key>
				<string>Buy</string>
				<key>Type</key>
				<string>Integer</string>
			</dict>
		</dict>
		<key>Type</key>
		<string>StructuredDictionary</string>
		<key>Description</key>
		<string>Процессы</string>
	</dict>
</dict>
</plist>
